
@{
    ViewData["Title"] = "GetAddition";
}
<html>

<body>
    <div>
        <form method="post" action="ShowAddition">
            Enter X
            <input type="number" name="x" placeholder="Enter 1st num"/>
            Enter Y
            <input type="number" name="y" placeholder="Enter 2nd num"/>
        

            <input type="submit" value="send"/>
        </form>
    </div>
</body>
</html>

