

<html>

<body>
    <div>
        <form method="post" action="ShowEmployeeData">
            Enter Employee ID
            <input type="text" name="EID" placeholder="Enter Your ID "/>
            Enter Employee Name
            <input type="text" name="Ename" placeholder="Enter your name"/>
            Enter Employee Department
            <input type="text" name="Dept" placeholder="Enter your department"/>

            <input type="submit" value="send"/>
        </form>
    </div>
</body>
</html>


