@model webapp2.Models.Employee
<html>
    <body>
        <div>
            Employee Id : @Model.EmployeebName;
            Employee Name is :@Model.EmployeebName;
            Employee Department is: @Model.Department;

        </div>
    </body>

</html>


